<div class="header-wrap">
    <img src="images/logo_w.png" alt="" class="header-logo">

    <div class="menu-wrap row-group">
        <div class="gnb">
            <div class="gnb-item">
                <a href="dashboard.html" class="item-default">
                    <i class="xi-apps"></i>
                    대시보드
                </a>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-home"></i>
                    회원 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="member.html" class="sub-gnb-item">
                        회원 관리
                    </a>
                    <a href="member_withdrawal.html" class="sub-gnb-item">
                        탈퇴 회원 관리
                    </a>
                    <a href="member_report.html" class="sub-gnb-item">
                        신고내역
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-home"></i>
                    홈페이지 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="homepage_popup.html" class="sub-gnb-item">
                        팝업 관리
                    </a>
                    <a href="homepage_banner.html" class="sub-gnb-item">
                        배너 관리
                    </a>
                    <a href="homepage_count.html" class="sub-gnb-item">
                        누적 농산물/농가 수
                    </a>
                    <a href="homepage_setting.html" class="sub-gnb-item">
                        관리자 설정
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-money"></i>
                    주문/결제 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="order_package.html" class="sub-gnb-item">
                        꾸러미 주문 내역
                    </a>
                    <a href="order_market.html" class="sub-gnb-item">
                        직거래 상품 주문 내역
                    </a>
                    <a href="order_refund.html" class="sub-gnb-item">
                        반품/교환/환불
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-package"></i>
                    꾸러미 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="package.html" class="sub-gnb-item">
                        꾸러미 관리
                    </a>
                    <a href="package_item.html" class="sub-gnb-item">
                        꾸러미 품목 관리
                    </a>
                    <a href="package_delivery.html" class="sub-gnb-item">
                        배송일정
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-cart"></i>
                    상품 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="product.html" class="sub-gnb-item">
                        상품 관리
                    </a>
                    <a href="product_top.html" class="sub-gnb-item">
                        소농살리기 프로젝트
                    </a>
                    <a href="product_client.html" class="sub-gnb-item">
                        농가 관리
                    </a>
                    <a href="product_item.html" class="sub-gnb-item">
                        상품 품목 관리
                    </a>
                    <a href="product_delivery.html" class="sub-gnb-item">
                        배송설정
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-pen"></i>
                    후기 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="review_package.html" class="sub-gnb-item">
                        꾸러미 후기
                    </a>
                    <a href="review_market.html" class="sub-gnb-item">
                        직거래 상품 후기
                    </a>
                    <a href="review_story.html" class="sub-gnb-item">
                        채소이야기
                    </a>
                    <a href="review_comment.html" class="sub-gnb-item">
                        댓글
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-coupon"></i>
                    쿠폰/적립금
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="coupon.html" class="sub-gnb-item">
                        쿠폰
                    </a>
                    <a href="point.html" class="sub-gnb-item">
                        적립금
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-message"></i>
                    커뮤니티 관리
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="community_story.html" class="sub-gnb-item">
                        농가이야기
                    </a>
                    <a href="community_recipe.html" class="sub-gnb-item">
                        레시피
                    </a>
                    <a href="community_tag.html" class="sub-gnb-item">
                        태그관리
                    </a>
                </div>
            </div>
            <div class="gnb-item">
                <div class="item-default">
                    <i class="xi-call"></i>
                    고객센터
                    <i class="xi-angle-down-thin"></i>
                </div>
                <div class="sub-gnb row-group">
                    <a href="faq.html" class="sub-gnb-item">
                        자주하는 질문
                    </a>
                    <a href="inquiry.html" class="sub-gnb-item">
                        1:1 문의
                    </a>
                </div>
            </div>
        </div>

        <div class="header-btm">
            <p class="copy-txt">
                Copyright 2024 농장스 <br>
                All rights reserved
            </p>
            <a href="Login.html" class="logout-btn">
                <i class="xi-log-out"></i>
                로그아웃
            </a>
        </div>
    </div>
</div>

<script>
    $('.gnb-item').click(function(){
        $(this).toggleClass('active');
    });
</script>