<div class="header-wrap">
    <img src="/admin/images/LOGO-w.svg" alt="" class="header-logo">

    <div class="menu-wrap row-group">
        <div class="gnb">
            <a href="/admin/admin_main_banner.html" class="gnb-item">
                <i class="xi-library-image-o"></i>
                메인 베너 관리
            </a>
            <a href="/admin/admin_popup.html" class="gnb-item">
                <i class="xi-palette"></i>
                메인 팝업 관리
            </a>
            <a href="/admin/admin_about_banner.html" class="gnb-item">
                <i class="xi-view-list"></i>
                About 베너 관리
            </a>
            <a href="/admin/admin_user.html" class="gnb-item">
                <i class="xi-users"></i>
                회원 관리
            </a>
            <a href="/admin/admin_user_data.html" class="gnb-item">
                <i class="xi-chart-bar"></i>
                회원 데이터 관리
            </a>
            <a href="/admin/admin_solution.html" class="gnb-item">
                <i class="xi-lightbulb"></i>
                솔루션 관리
            </a>
            <a href="/admin/admin_activity.html" class="gnb-item">
                <i class="xi-walk"></i>
                추천활동 관리
            </a>
            <a href="/admin/admin_report_psy_1.html" class="gnb-item">
                <i class="xi-palette"></i>
                심리 리포트 관리
            </a>
            <a href="/admin/admin_payment_list.html" class="gnb-item">
                <i class="xi-credit-card"></i>
                결제내역 관리
            </a>
            <a href="/admin/admin_inquiry.html" class="gnb-item">
                <i class="xi-pen"></i>
                문의 내역 관리
            </a>
        </div>

        <div class="header-btm">
            <p class="copy-txt">
                Copyright 2023 Gelten Corp. <br>
                All Right Reserved
            </p>
            <a href="/admin/Login.html" class="logout-btn">
                <i class="xi-log-out"></i>
                로그아웃
            </a>
        </div>
    </div>
</div>