<div class="footer-wrap">
    <div class="container">
        <div class="footer-group row-group">
            <a href="index.html" class="footer-logo">
                <img src="/images/logo.png" alt="">
            </a>
            <div class="footer-btn-wrap col-group">
                <a href="https://nongjangs.notion.site/15e03ebe5d8780ff8435f9c039b8cc8e?pvs=4" target="_blank" class="footer-btn">
                    개인정보처리방침
                </a>
                <a href="https://nongjangs.notion.site/15e03ebe5d878001abd4e2eb8d370d0a?pvs=4" target="_blank" class="footer-btn">
                    이용약관
                </a>
            </div>
            <div class="footer-txt-wrap row-group">
                <div class="footer-txt-group col-group">
                    <p class="footer-txt">
                        상호명 : 농장스
                    </p>
                    <p class="footer-txt">
                        대표이사 : 이동주
                    </p>
                    <p class="footer-txt">
                        주소 : 부산광역시 사하구 승학로 65, 4층
                    </p>
                </div>
                <div class="footer-txt-group col-group">
                    <p class="footer-txt">
                        사업자등록번호 : 297-38-01227
                    </p>
                    <p class="footer-txt">
                        통신판매업번호 : 2024-부산사하-0802
                    </p>
                    <p class="footer-txt">
                        이메일 : djmj21c@naver.com
                    </p>
                </div>
            </div>
            <p class="footer-copy-txt">
                Copyright 2024 농장스 All rights reserved.
            </p>
        </div>
        <div class="footer-inquiry-wrap row-group">
            <p class="title">
                고객센터
            </p>
            <a href="tel:070-8098-2170" class="footer-inquiry-num">
                070-8098-2170
            </a>
            <p class="footer-inquiry-txt">
                평일 09:00 ~ 18:00 (점심시간 12:00 ~13:00) <br>
                주말 및 공휴일은 휴무입니다.
            </p>
            <div class="footer-btn-wrap">
                <a href="mypage_05_02.html" class="footer-inquiry-btn">
                    1:1 문의
                </a>
                <a href="mypage_05_01.html" class="footer-inquiry-btn">
                    자주하는 질문
                </a>
            </div>
        </div>
    </div>
</div>
