<div class="mb-nav">
    <a href="index.html" class="mb-nav-item">
        <img src="../images/icon_mb_home.png" alt="" class="img">
        <p class="txt">
            홈
        </p>
    </a>
    <a href="market.html" class="mb-nav-item">
        <img src="../images/icon_mb_market.png" alt="" class="img">
        <p class="txt">
            직거래장터
        </p>
    </a>
    <a href="mypage_01_01.html" class="mb-nav-center-item">
        <img src="../images/icon_ggorumi_w.png" alt="" class="img">
    </a>
    <a href="community_1.html" class="mb-nav-item">
        <img src="../images/icon_mb_community.png" alt="" class="img">
        <p class="txt">
            커뮤니티
        </p>
    </a>
    <a href="mypage_index.html" class="mb-nav-item">
        <img src="../images/icon_mb_mypage.png" alt="" class="img">
        <p class="txt">
            마이페이지
        </p>
    </a>
</div>