<div class="mp-profile-wrap">
    <div class="mp-profile-img">
        <img src="images/lv-8.png" alt="">
    </div>
    <div class="mp-profile-txt">
        <div class="mp-profile-label">
            영광 꾸러기
        </div>
        <div class="txt-group col-group">
            <div class="mp-profile-name">
                <strong>당근사랑</strong>님
            </div>
            <a href="mypage_04_01.html" class="mp-sub-btn edit-btn">
                <i class="xi-cog"></i>
            </a>
        </div>
        <div class="txt-group row-group">
            <a href="mypage_01_01.html" class="mp-code-wrap">
                <div class="item-default">
                    나의 꾸러미
                </div>
                <div class="item-user">
                    <strong>
                        구성대기
                    </strong>
                    <i class="icon xi-angle-right"></i>
                </div>
            </a>
            <a href="mypage_03_03.html" class="mp-code-wrap white">
                <div class="item-default">
                    추천인 코드
                </div>
                <div class="item-user">
                    A123B456
                    <i class="icon xi-angle-right"></i>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="mp-nav-wrap">
    <div class="mp-nav-item">
        <div class="mp-nav-title toggle-title">
            나의 꾸러미
            <i class="icon xi-angle-down"></i>
        </div>
        <div class="toggle-content">
            <div class="mp-nav-sub-wrap">
                <a href="mypage_01_01.html" class="mp-nav-sub-item">
                    나의 꾸러미
                </a>
                <a href="mypage_01_02.html" class="mp-nav-sub-item">
                    배송 당기기 · 미루기
                </a>
                <a href="mypage_01_03.html" class="mp-nav-sub-item">
                    꾸러미 주문 내역
                </a>
                <a href="mypage_01_04.html" class="mp-nav-sub-item">
                    구독 정보 변경
                </a>
                <a href="/review_create.html" class="mp-nav-sub-item">
                    꾸러미 후기 작성
                </a>
                <a href="/community_2_create.html" class="mp-nav-sub-item">
                    채소이야기 작성
                </a>
            </div>
        </div>
    </div>
    <div class="mp-nav-item">
        <div class="mp-nav-title toggle-title">
            주문내역
            <i class="icon xi-angle-down"></i>
        </div>
        <div class="toggle-content">
            <div class="mp-nav-sub-wrap">
                <a href="mypage_02_01.html" class="mp-nav-sub-item">
                    주문내역
                </a>
                <a href="mypage_02_02.html" class="mp-nav-sub-item">
                    취소/환불내역
                </a>
            </div>
        </div>
    </div>
    <div class="mp-nav-item">
        <div class="mp-nav-title toggle-title">
            쿠폰/적립금
            <i class="icon xi-angle-down"></i>
        </div>
        <div class="toggle-content">
            <div class="mp-nav-sub-wrap">
                <a href="mypage_03_01_01.html" class="mp-nav-sub-item">
                    나의 쿠폰
                </a>
                <a href="mypage_03_02.html" class="mp-nav-sub-item">
                    나의 적립금
                </a>
                <a href="mypage_03_03.html" class="mp-nav-sub-item">
                    추천인 코드
                </a>
            </div>
        </div>
    </div>
    <div class="mp-nav-item">
        <div class="mp-nav-title toggle-title">
            정보 관리
            <i class="icon xi-angle-down"></i>
        </div>
        <div class="toggle-content">
            <div class="mp-nav-sub-wrap">
                <a href="mypage_04_01.html" class="mp-nav-sub-item">
                    회원 정보 관리
                </a>
                <a href="mypage_04_02.html" class="mp-nav-sub-item">
                    회원 등급
                </a>
                <a href="mypage_04_03_01.html" class="mp-nav-sub-item">
                    나의 채소이야기
                </a>
                <a href="mypage_04_04_01.html" class="mp-nav-sub-item">
                    나의 후기
                </a>
                <a href="mypage_04_05.html" class="mp-nav-sub-item">
                    나의 북마크
                </a>
            </div>
        </div>
    </div>
    <div class="mp-nav-item">
        <div class="mp-nav-title toggle-title">
            고객센터
            <i class="icon xi-angle-down"></i>
        </div>
        <div class="toggle-content">
            <div class="mp-nav-sub-wrap">
                <a href="mypage_05_01.html" class="mp-nav-sub-item">
                    자주 묻는 질문
                </a>
                <a href="" class="mp-nav-sub-item">
                    채팅상담
                </a>
                <a href="mypage_05_02.html" class="mp-nav-sub-item">
                    1:1 문의
                </a>
            </div>
        </div>
    </div>
</div>

<button class="mp-sub-btn logout-btn">
    로그아웃
    <i class="xi-log-out"></i>
</button>

<script>
    $('.mp-nav-title').click(function(){
        $(this).parent().toggleClass('toggle-active');
    });
</script>